{% extends "base.html" %}

{% block title %} Hora por hora {% endblock %}

{% block content %}

<div class="page-title"> Registrar hora por hora </div>
<div class="page-subtitle"> Registre los modelos y su cantidad total a producir por hora el día de hoy. </div>

<div class="card">
    <p class="card-title"> Hora por hora </p>
    <form method="POST">
            <table class="table">
                <tr style="text-align: center;">
                    <th style="text-align: center;"> Hora </th>
                    <th style="text-align: center;"> Modelo </th>
                    <th style="text-align: center;"> Cantidad </th>
                </tr>
                {% csrf_token %}
                {{ formset.management_form }}
                {% for f in formset %}
                        <tr>
                            <td style="text-align: center;"> {{ f.hour }} </td>
                            <td style="text-align: center;"> {{ f.production_detail }} </td>
                            <td style="text-align: center;"> {{ f.pieces }} </td>
                        </tr>
                {% endfor %}
            </table>

            <div style="justify-self: flex-end; margin-right: 15px; margin-bottom: 10px;">
                <button class="btn btn-outline" type="submit"> Guardar hora por hora </button> 
            </div>
    </form>
</div>

{% endblock %}
